html, body, h1, h2, h3, p, a, img, ol, ul, li, fieldset, input, button
    margin 0
    padding 0
    border 0

input, button, a, textarea
    outline none

html, body
    height 100%

body
    padding 0 !important
    background #fff
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing auto
    font-init(18px, 1, 'Lato')

a
    background transparent
    text-decoration none

    &:hover, &:active
        outline 0

table
    border-collapse collapse
    border-spacing 0

td, th
    padding 0

i, em
    font-style italic

ul, ol
    list-style none

img
    height auto

.con
    @extends $m-c
    width 100%

h2, h3
    font-size 1em


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
    display none
