$m0
    margin 0

$p0
    padding 0

$m-c
    margin 0 auto

$w100
    width 100%

$posR
    position relative

$posA
    position absolute

$fl
    float left

$fr
    float right

$db
    display block

$dib
    display inline-block

$dn
    display none

$cover
    -webkit-background-size cover
    background-size cover
    background-repeat no-repeat
    background-position 50% 50%

$ttU
    text-transform uppercase

$tdN
    text-decoration none

$taC
    text-align center

$bs
    box-sizing border-box

$oh
    overflow hidden

@font-face
    font-family Helvetica Neue
    font-style normal
    src url(../_/fonts/HelveticaNeue.ttf)
@font-face
    font-family Helvetica Neue Bold
    font-style normal
    src url(../_/fonts/HelveticaNeueBold.ttf)

$helv = "Helvetica Neue", Helvetica, Arial, sans-serif
$helvB = "Helvetica Neue Bold", Helvetica, Arial, sans-serif

.cf
    &:before, &:after
        content " "
        display table

    &:after
        clear both