$cell
    position relative
    float left
    // Prevent columns from collapsing when empty
    min-height 1px
    padding 0 ($gutter-width / 2)
    box-sizing border-box


generate-columns($number, $class)

    for $iterator in (1...$number+1)
        .{$class}-{$iterator}
            width ($iterator * 100% / $number)

form-cell($number, $class)

    for $iterator in (1...$number+1)
        .{$class}-{$iterator}
            @extends $cell

.r
    margin 0 ($gutter-width / -2)
    @extend $posR, .cf

.con
    max-width 1000px
    width 100%
    margin 0 auto

form-cell(12,b)
form-cell(6,m)
form-cell(2,s)
form-cell(1,xs)

generate-columns(12, b)

@media screen
    @media (max-width $desktop)
        generate-columns(6,m)

    @media (max-width $portrait)
        generate-columns(2,s)

    .hid-p
        display none

@media (max-width $mobile)
    generate-columns(1,xs)
    .con
        width 100%