font-init($sz, $lh, $ff, $fw = 400)
    font $fw $sz/$lh $ff

size($w, $h = $w)
    width $w
    height $h

round($args)
    vendor(border-radius, $args)

trsn($property = all, $duration = 0.4s, $easing = cubic-bezier(0.165, 0.84, 0.44, 1), $delay = 0s)
    -webkit-transition $property $duration $easing $delay
    -moz-transition $property $duration $easing $delay
    -ms-transition $property $duration $easing $delay
    -o-transition $property $duration $easing $delay
    transition $property $duration $easing $delay

col($color)
    color $color

bgcol($bgcolor)
    background-color $bgcolor

brdr($type, $w, $bcolor)
    border $type $w $bcolor

zi($zind)
    z-index $zind

before($cont = '')
    content $cont

after($cont = '')
    content $cont

br($br)
    border-radius $br

ls($ls)
    letter-spacing $ls

lh($lh)
    line-height $lh

fw($fw)
    font-weight $fw

fs($fs)
    font-size $fs