&__monthly
    @extends $oh
    min-width 1024px
    &_header
        padding 40px 0
        col($white)
        & span
            @extends $db, $ttU
            font-init(18px, 1, 'Lato')
        &_date
            @extends $fl
            & .date
                fs(45px)
                margin 23px 0 0
        &_rate
            @extends $fr
            &_i
                @extends $fl
                &:first-child
                    margin 0 75px 0 0
            .desc
                padding 0 0 0 30px
            & .max_month, & .average_month
                fs(63px)
                margin 5px 0 0
                &:before
                    content '\20B4'
                    fs(45px)
                    margin 0 5px 0 0
    &_c
        padding 69px 0
        width 72%

    &_selected
        bgcol($fourth)
        &_h
            @extends $ttU, $taC, $dn
            col($white)
            padding 53px 0
            fs(60px)
        & .c__monthly_header
            @extends $db

    & .ui-datepicker-calendar
        @extends $dn
    &_calendar
        @extends $fr
        padding 69px 0
        min-width 259
        & ul
            margin 30px 0 0
            & li
                margin 10px 0
                col(#2c3e50)
            & .max_tip
                &:before
                    @extends $dib
                    bgcol(#c0392b)
                    content ''
                    size(20px)
                    vertical-align middle
                    margin 0 10px 0 0
            & .average_tip
                &:before
                    @extends $dib
                    bgcol(#3498db)
                    content ''
                    size(20px)
                    vertical-align middle
                    margin 0 10px 0 0
    & .ui-datepicker-prev, & .ui-datepicker-next
        @extends $dib
        col($white)
        padding 20px 10px
        cursor pointer
        width 109px
        text-align center
        border-bottom solid 1px $white
        &:hover
            bgcol(darken($second, 10%))
            trsn(all)
    & .ui-datepicker-prev
        bgcol($second)
    & .ui-datepicker-next
        bgcol($second)
        border-left solid 1px $white
    & .ui-datepicker-title
            @extends $taC
            padding 15px 0
            bgcol($fourth)
            col($white)
            fs(27px)
    & .ui-state-disabled
        bgcol(darken($second, 20%))