&__daily
    @extends $oh
    min-width 1024px
    &_header
        padding 40px 0
        col($white)
        & span
            @extends $db, $ttU
            font-init(18px, 1, 'Lato')
        &_date
            @extends $fl
            & .date
                fs(45px)
                margin 23px 0 0
        &_rate
            @extends $fr
            &_i
                @extends $fl
                &:first-child
                    margin 0 75px 0 0
            .desc
                padding 0 0 0 30px
            & .max, & .average, & .current
                fs(63px)
                margin 5px 0 0
                &:before
                    content '\20B4'
                    fs(45px)
                    margin 0 5px 0 0
    &_wrap
        bgcol($main)
    &_calendar
        @extends $fr
        padding 69px 0
        #datepicker
            margin 0 auto
        .ui-datepicker-next, .ui-datepicker-prev
            @extends $dn
        .ui-datepicker-title
            @extends $taC
            padding 15px 0
            bgcol($main)
            col($white)
            fs(27px)
        .ui-datepicker-calendar
            @extends $w100
            & thead
                bgcol($second)
                col($white)
                & th
                    padding 10px 0
            & tbody
                margin 10px 0 0
                & td
                    @extends $taC
                    & a
                        @extends $db
                        col($third)
                        padding 8px
        .ui-state-active
            bgcol($main)
            br(40px)
            color $white !important
        .ui-datepicker-unselectable
            col(lighten($second, 20%))
            padding 8px

    &_c
        padding 69px 0
        width 72%

    &_selected
        bgcol($second)
        &_h
            @extends $ttU, $taC
            col($white)
            padding 53px 0
            fs(60px)
        & .c__daily_header
            @extends $dn